.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  font-family: Roboto;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #52555f;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex:hover .svg,
.flex:focus .svg {
  fill: #ff751d;
}

.sum {
  margin-bottom: 8px;
  color: #52555f;
}

.svg {
  height: 56px;
  fill: #071f41;
  margin-bottom: 8px;
}

.descr {
  color: #52555f;
}
