.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  font-family: Roboto;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #52555f;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sum {
  margin-bottom: 8px;
  color: #52555f;
}

.svg {
  position: relative;
  /* top:50%; */
  height: 56px;
  width: 56px;
  fill: #071f41;
  margin-bottom: 8px;
  z-index: 2;
}

.descr {
  color: #52555f;
}

.circle {
  position: absolute;
  top: 60%;
  transform: translate(0%, -50%);
  width: 59px;
  height: 46px;
  background: #f5f6fb;
  border-radius: 20px;
  z-index: 1;
}

.flex:hover .svg,
.flex:focus .svg {
  fill: #ff751d;
}
.flex:hover .circle,
.flex:focus .circle {
  background: #ffdac0;
}

.flex:hover .descr,
.flex:focus .descr {
  color: black;
}
