.item {
  font-family: Roboto;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #52555f;
}
.btnIcon {
  color: black;
  fill: black;
  width: 100px;
  height: 30px;
}
.btnIcon:hover .svg,
.btnIcon:focus .svg {
  fill: orange;
  color: orange;
}
.svg {
  width: 100%;
  height: auto;
  color: currentColor;
  fill: currentColor;
}
