.container {
  padding-left: 19px;
  padding-right: 19px;
}
@media screen and (min-width: 768px) {
  .container {
    padding-left: 50px;
    padding-right: 50px;
  }
  .menu {
    display: flex;
    justify-content: space-between;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    padding-left: 110px;
    padding-right: 110px;
  }
}

@media screen and (max-width: 767px) {
  .menu {
    display: flex;
    flex-direction: column;
  }
}
