@media screen and (max-width: 767px) {
  .listContainer {
    display: none;
  }

  .mobileWrap {
    margin-bottom: 10px;
    height: 100%;
    position: relative;
    width: 320px;
    margin: 0 auto;
  }

  .mobileWrap {
    display: flex;
    flex-wrap: wrap;
    width: 282px;
    max-height: 200px;
    margin: 0 auto;
    font-style: normal;
    font-weight: 700;
    overflow: scroll;
    font-size: 12px;
    line-height: 14px;
    align-items: center;
    letter-spacing: 0.04em;
    color: #52555f;
  }

  .mobileWrap::-webkit-scrollbar {
    width: 4px;
    border-radius: 4px;
    background: #f5f6fb;
  }

  .mobileWrap::-webkit-scrollbar-thumb {
    background-color: #fc842d;
    border-radius: 4px;
    height: 15px;
  }

  .mobileList {
    /* width: 100%; */
    padding: 0;
    margin: 0;
    list-style: none;
    font-family: Roboto;
  }

  .mobileList2 {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    margin-bottom: 12px;

    border-bottom: 2px solid #f5f6fb;
  }

  .mobileListWrap {
    white-space: pre-wrap;
    max-width: 150px;
    display: flex;
    flex-direction: column;
  }

  .textDescMob {
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
    letter-spacing: 0.04em;
    color: #52555f;
    max-width: 52.5vw;
    overflow: hidden;
  }

  .descWrap {
    display: flex;
    flex-direction: row;
    margin-top: 8px;
  }

  .dateMob {
    width: 44px;
    height: 7px;
    font-weight: 400;
    font-size: 8px;
    line-height: 9px;
    margin: 0;
  }

  .categoryMob {
    width: 82px;
    height: 7px;
    font-weight: 400;
    font-size: 8px;
    line-height: 9px;
    margin: 0 0 0 20px;
  }

  .btnWrapper {
    width: 32px;
    height: 32px;
    margin-left: 20px;
  }

  .deleteBtn {
    border: 1px solid transparent;
    border-radius: 50%;
    background-color: transparent;
  }

  .deleteBtn:hover {
    background-color: #f5f6fb;
  }
}

@media screen and (min-width: 768px) {
  .mobileWrap {
    display: none;
  }

  .table {
    width: 605px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
  }

  .headerTable {
    width: 100%;
    height: 38px;
    align-items: center;

    border-radius: 20px 20px 0 0;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #000000;
    background-color: #f5f6fb;
  }

  .tableHeadTr {
    background: #f5f6fb;
    border-radius: 20px 20px 0 0;
    height: 40px;
    font-weight: 700;
    letter-spacing: 0.02em;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: #000;
  }

  .tableTh {
    height: 38px;
  }

  .tr {
    width: 100%;
    height: 40px;
    border-bottom: 2px solid #f5f6fb;
    display: inline-table;
    color: #52555f;
  }

  .tableBody {
    height: 346px;
    border-collapse: collapse;
    width: 100%;
    border: 2px solid #f5f6fb;
    overflow-y: scroll;
  }

  .tableBody::-webkit-scrollbar {
    width: 6px;
    border-radius: 4px;
    background: #f5f6fb;
  }

  .tableBody::-webkit-scrollbar-thumb {
    background-color: #fc842d;
    border-radius: 4px;
    height: 15px;
  }

  .deleteBtn {
    width: 35px;
    height: 35px;
    border: 1px solid transparent;
    border-radius: 50%;
    background-color: transparent;
  }
  .deleteBtn:hover {
    background-color: #f5f6fb;
  }
}

@media screen and (min-width: 1280px) {
  .mobileWrapper {
    display: none;
  }

  .table {
    width: 760px;
    height: 344px;
  }
}
