.section {
  background-image: url("../../assets/images/back2.png");
  background-repeat: no-repeat;
  background-size: 100% 286px;
}

.container {
  position: relative;
  width: 320px;
  height: 100vh;
  margin: 0 auto;
}

.wrapper {
  margin: 0 auto;
  padding: 30px 20px;
}

.GoBackButton {
  display: flex;
  align-items: center;
  padding: 0;
  margin-bottom: 30px;
  font-size: 12px;
  font-family: "Roboto", sans-serif;
  line-height: 1.2;
  font-weight: 400;
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  letter-spacing: 0.04em;
  transition: all 0.2s linear;
}

.goBackIcon {
  margin-right: 15px;
}

.title {
  display: none;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  height: 500px;
  background-color: #fff;
  border-radius: 30px;
  box-shadow: 5px 10px 20px rgba(170, 178, 197, 0.2);
}

.contentAva {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 30px 20px 0px 20px;
}

.avatar {
  display: block;
  width: 150px;
  height: 150px;
  margin-bottom: 10px;
}

.name {
  margin-bottom: 15px;
  font-size: 2.25rem;
}

@media screen and (min-width: 768px) {
  .section {
    background-size: 100% 536px;
  }

  .container {
    width: 768px;
  }

  .wrapper {
    padding: 40px 20px;
  }

  .GoBackButton {
    width: max-content;
    margin-top: 0px;
  }

  .title {
    display: flex;
    text-transform: none;
  }

  .content {
    align-items: flex-start;
    justify-content: flex-start;
    padding: 60px 40px;
  }

  .contentAva {
    align-items: flex-start;
    justify-content: flex-start;
    margin: 0px;
    padding: 0px;
  }

  .contetnForm {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  img {
    width: 120px;
    border-radius: 6px;
  }

  .imgBackKapusta {
    background-image: url("../../assets/images/iconKap2.svg");
    background-repeat: no-repeat;
    position: absolute;
    top: 690px;
    left: 480px;
    width: 200px;
    height: 142px;
    z-index: -1;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
  }

  .content {
    padding-right: 60px;
    padding-left: 60px;
  }

  .wrapper {
    padding: 60px 80px;
  }

  .imgBackKapusta {
    background-image: url("../../assets/images/imgKap.png");
    top: 720px;
    width: 100%;
    left: 0px;
  }
}
