.section {
  height: 100vh;
  width: 320px;
  margin: 0 auto;
  background-image: url("../../assets/images/back2.png");
  background-repeat: no-repeat;
}

@media screen and (min-width: 768px) {
  .section {
    width: 768px;
  }
}

@media screen and (min-width: 1280px) {
  .section {
    width: 1280px;
  }
}
